body {
    background-color: blue;
}

h1 {
    color: aqua;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.textos {
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}