* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 5%;
  height: 5%;
}

body {
    background-color: blue;
}

#banner {
  width: 100%;
}

h1 {
    color: aqua;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.textos {
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}